{% extends 'diseases/magonjwa.html' %}

{% block title %}PID (Ugumba wa Via Vya Uzazi){% endblock %}

{% block magonjwa %}
<div class="m-3 p-6 bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-extrabold text-blue-700">PID (Ugumba wa Via Vya Uzazi)</h1>

    <p class="mt-4 text-lg text-gray-700">
        PID (Pelvic Inflammatory Disease) ni ugonjwa unaosababishwa na maambukizi ya bakteria katika sehemu za uzazi za wanawake. Ugonjwa huu husababisha maumivu makali ya tumbo na matatizo mengine ya kiafya, ikiwa hautatibiwa mapema unaweza kusababisha matatizo ya uzazi.
    </p>

    <h2 class="text-2xl font-semibold mt-6 text-blue-500">Sababu za PID</h2>
    <ul class="list-disc list-inside mt-2 text-gray-600 space-y-2">
        <li><strong>Maambukizi ya Bakteria:</strong> Maambukizi ya bakteria kama vile Chlamydia na Gonorrhea ndio mara nyingi husababisha PID.</li>
        <li><strong>Matumizi ya vifaa vya uzazi:</strong> Kutumia intrauterine devices (IUDs) kunaweza kuongeza hatari ya kupata PID.</li>
        <li><strong>Sex bila kinga:</strong> Uhusiano wa kimwili bila kutumia kinga unaweza kuongeza hatari ya kupata maambukizi ya bakteria zinazohusiana na PID.</li>
    </ul>

    <h2 class="text-2xl font-semibold mt-6 text-blue-500">Dalili za PID</h2>
    <ul class="list-disc list-inside mt-2 text-gray-600 space-y-2">
        <li>Maumivu makali ya tumbo ya chini</li>
        <li>Kuchoka kupita kiasi</li>
        <li>Homahoma au homa</li>
        <li>Kutokwa na majimaji machafu kutoka kwa uke</li>
        <li>Maumivu wakati wa kujamiiana</li>
        <li>Kutokwa na damu kati ya kipindi cha hedhi</li>
    </ul>

    <h2 class="text-2xl font-semibold mt-6 text-blue-500">Madhara ya PID</h2>
    <p class="mt-4 text-lg text-gray-700">
        Ikiwa PID haitatibiwa, inaweza kusababisha madhara makubwa kama vile:
    </p>
    <ul class="list-disc list-inside mt-2 text-gray-600 space-y-2">
        <li>Ugumba (kutoshika ujauzito)</li>
        <li>Matatizo ya mzunguko wa hedhi</li>
        <li>Maumivu ya kudumu ya tumbo la chini</li>
        <li>Kutolewa kwa sehemu ya kizazi au ovari</li>
    </ul>

    <h2 class="text-2xl font-semibold mt-6 text-blue-500">Jinsi ya Kuepuka PID</h2>
    <ul class="list-disc list-inside mt-2 text-gray-600 space-y-2">
        <li>Kutumia kinga wakati wa kujamiiana</li>
        <li>Kuacha tabia za hatari kama vile kujamiiana na watu wengi bila kinga</li>
        <li>Kutibiwa mapema maambukizi ya magonjwa ya zinaa kama vile Chlamydia na Gonorrhea</li>
        <li>Kufanya uchunguzi wa mara kwa mara kwa afya ya uzazi</li>
    </ul>

    <p class="mt-6 text-lg text-gray-700">
        Ikiwa una dalili za PID, tafadhali tafuta msaada wa daktari haraka ili kupata matibabu sahihi. Kwa maswali zaidi au ushauri wa kitaalamu, wasiliana nasi kwa namba 0763176074 (Pia ipo WhatsApp). Tunapatikana katika mikoa mbalimbali Tanzania kwa huduma bora.
    </p>
</div>
{% endblock %}
