{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block header %}Fmk Shop{% endblock %}</title>  <!-- Default Title -->

    <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
    <style>
        body {
          overflow-x: hidden;
        }
        .carousel-item {
            transition: transform 0.5s ease-in-out;
        }
    </style>
    <style>
        .animate-shine {
            animation: shine-animation 0.5s ease-in-out;
        }

        .dropdown-icon {
            display: inline-block;
            transition: transform 0.2s ease-in-out;
        }
    
        @keyframes shine-animation {
            0% {
                transform: scale(1);
                opacity: 1;
            }
            50% {
                transform: scale(1.2);
                opacity: 0.7;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }

        /* Sidebar and Navbar customizations */
        @media (min-width: 768px) {
            .sidebar-sticky {
                position: sticky;
                top: 48px;
                height: calc(100vh - 48px);
                z-index: 1;
            }
        }

        /* Navbar adjustments */
        .navbar-brand {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            background-color: rgba(0, 0, 0, 0.25);
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
        }

        /* Navbar sticky effect */
        header.sticky {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        /* Sidebar Toggle visibility */
        .sidebar-hidden {
            display: none;
        }

        /* Smooth transition for sidebar */
        .transition-all {
            transition: all 0.3s ease;
        }
    </style>
</head>
<body class="flex flex-col min-h-screen">

    <!-- Navbar -->
    <nav class="bg-yellow-700 text-white flex justify-between items-center px-3 md:px-4 py-2 fixed top-0 left-0 w-full z-50 shadow">
        <div class="flex justify-between items-center">
            <button id="toggle-sidebar" class="text-white text-2xl mr-4">&#9776;</button>
            <span class="md:text-xl font-bold">FMK Shop</span>
        </div>
    
        <ul class="hidden md:flex space-x-6">
            {% if current_tab == 'home' %}
            <li><a href="{% url 'home' %}" class="text-yellow-400">Home</a></li>
            {% else %}
            <li><a href="{% url 'home' %}" class="hover:text-yellow-400">Home</a></li>
            {% endif %}
    
            {% if current_tab == 'shop' %}
            <li><a href="{% url 'shop' %}" class="text-yellow-400">Shop</a></li>
            {% else %}
            <li><a href="{% url 'shop' %}" class="hover:text-yellow-400">Shop</a></li>
            {% endif %}
    
            {% if current_tab == 'faq' %}
            <li><a href="{% url 'faq' %}" class="text-yellow-400">FAQ</a></li>
            {% else %}
            <li><a href="{% url 'faq' %}" class="hover:text-yellow-400">FAQ</a></li>
            {% endif %}
    
            {% if current_tab == 'about' %}
            <li><a href="{% url 'about' %}" class="text-yellow-400">About</a></li>
            {% else %}
            <li><a href="{% url 'about' %}" class="hover:text-yellow-400">About</a></li>
            {% endif %}
    
            {% if current_tab == 'contact' %}
            <li><a href="{% url 'contact' %}" class="text-yellow-400">Contact</a></li>
            {% else %}
            <li><a href="{% url 'contact' %}" class="hover:text-yellow-400">Contact</a></li>
            {% endif %}
        </ul>
    
        <ul class="flex space-x-3 md:space-x-6">
            {% if user.is_authenticated %}
            <li class="relative">
                <a href="#" class="flex items-center hidden md:block hover:text-yellow-400" id="accountButton" onclick="toggleDropdown(event)">
                    Account
                    <span class="dropdown-icon ml-1 transition-transform duration-200">
                        ▼
                    </span>
                </a>
                <ul id="dropdownMenu" class="absolute right-0 mt-2 w-40 bg-white text-black border rounded border-gray-200 shadow-md hidden">
                    <li>
                        <a href="" class="block px-4 py-2 hover:bg-gray-100 hover:text-yellow-400">My Account</a>
                    </li>
                    <li>
                        <a href="{% url 'password_change' %}" class="block px-4 py-2 hover:bg-gray-100 hover:text-yellow-400">Change password</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="block px-4 py-2 hover:bg-gray-100 hover:text-yellow-400"><i class="bi bi-box-arrow-left"> </i>Logout</a>
                    </li>
                    {% if user.is_superuser %}
                    <li>
                        <a href="admin/" class="block px-4 py-2 hover:bg-gray-100 hover:text-yellow-400">Main Admin Page</a>
                    </li>
                    {% endif %}
                </ul>                
            </li>
            <li><span class="hidden md:block">Welcome, {{ user.username }}</span></li>
            {% else %}
            <li><a href="{% url 'register_email' %}" class="hidden md:block hover:text-yellow-400"><i class="bi bi-pencil-square"> </i>Register</a></li>
            <li><a href="{% url 'login' %}" class="hidden md:block hover:text-yellow-400"><i class="bi bi-box-arrow-in-right"> </i>Login</a></li>
            {% endif %}
            
            <!-- Dropdown Menu -->
            <li class="relative">
                <a href="#" class="flex items-center md:hidden hover:text-yellow-400" id="accountButton" onclick="toggleDropdown(event)">
                    Account
                    <span class="dropdown-icon ml-1 transition-transform duration-200">
                        ▼
                    </span>
                </a>
                <ul id="dropdownMenu" class="absolute rounded right-0 mt-2 w-40 bg-white text-black border border-gray-200 shadow-md hidden">
                    {% if user.is_authenticated %}
                    <li><span class="block px-4 py-2 hover:bg-gray-100 hover:text-yellow-400">Welcome, {{ user.username }}</span></li>
                    <li>
                        <a href="{% url 'logout' %}" class="block px-4 py-2 hover:bg-gray-100 hover:text-yellow-400">Logout</a>
                    </li>
                    <li>
                        <a href="" class="block px-4 py-2 hover:bg-gray-100 hover:text-yellow-400">My Account</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}" class="block px-4 py-2 hover:bg-gray-100 hover:text-yellow-400"><i class="bi bi-box-arrow-in-right"> </i>Login</a>
                    </li>
                    <li>
                        <a href="{% url 'register_email' %}" class="block px-4 py-2 hover:bg-gray-100 hover:text-yellow-400"><i class="bi bi-pencil-square"> </i>Register</a>
                    </li>
                    {% endif %}
                </ul>                
            </li>
            {% comment %} {% url 'my_account' %} {% endcomment %}
            
            <li>
                <a href="{% url 'view_cart' %}" class="{% if current_tab == 'cart' %} text-yellow-400 relative p-2 {% else %} relative p-2 hover:text-yellow-400 {% endif %}" aria-label="View cart">
                    Cart
                    <i class="bi bi-cart"></i>
                    <span id="cart-item-count" class="absolute top-0 right-0 bg-yellow-500 text-white text-xs rounded-full px-1">
                        {{ cart_item_count }}
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    
    <!-- Sidebar -->
    <div id="sidebar" class="fixed mt-6 pt-6 pb-12 w-full md:w-64 inset-y-0 left-0 bg-yellow-600 text-white z-40 overflow-y-auto transform -translate-x-full transition-transform duration-300 h-screen">
        <ul class="space-y-6 mb-3 pt-6 pl-6 pb-6">
            {% for category in categories %}
            <li>
                <button onclick="toggleDropdown2('dropdown-{{ forloop.counter }}')" class="flex justify-between items-center w-full text-left hover:text-yellow-400 focus:outline-none">
                    <span><i class="bi bi-three-dots-vertical"></i> {{ category.name }}</span>
                    {% if category.subcategories.exists %}
                    <i class="bi bi-chevron-down transition-transform mr-3" id="icon-{{ forloop.counter }}"></i>
                    {% endif %}
                </button>
                {% if category.subcategories.exists %}
                <ul id="dropdown-{{ forloop.counter }}" class="hidden pl-4">
                    {% for subcategory in category.subcategories.all %}
                    <li class="bg-yellow-500 p-2 rounded mr-3 mt-2">
                        <a href="{% url 'products_by_subcategory' subcategory.name %}" class="block hover:text-yellow-200">
                            <i class="bi bi-dot"></i> {{ subcategory.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if messages %}
        <div id="alert-container" class="fixed top-0 left-0 right-0 z-50 p-2 transition-transform transform -translate-y-full bg-green-100 text-green-800">
            <div>
                {% for message in messages %}
                    {% if forloop.last %}
                        <div class="p-2 rounded text-center bg-green-200 text-yellow-800">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const alertContainer = document.getElementById("alert-container");

                // Slide down animation
                setTimeout(() => {
                    alertContainer.classList.remove("-translate-y-full");
                }, 100); // Small delay for smooth effect

                // Slide up and remove after 5 seconds
                setTimeout(() => {
                    alertContainer.classList.add("-translate-y-full");
                }, 5000); // Alert will stay visible for 5 seconds
            });
        </script>
    {% endif %}

  
    <div class="flex mt-10 bg-yellow-600 text-white justify-center items-center">
        <ul class="md:hidden pt-2 flex my-2 space-x-3">

            {% if current_tab == 'home' %}
            <li><a href="{% url 'home' %}" class="text-yellow-400">Home</a></li>
            {% else %}
            <li><a href="{% url 'home' %}" class="hover:text-yellow-400">Home</a></li>
            {% endif %}

            {% if current_tab == 'shop' %}
            <li><a href="{% url 'shop' %}" class="text-yellow-400">Shop</a></li>
            {% else %}
            <li><a href="{% url 'shop' %}" class="hover:text-yellow-400">Shop</a></li>
            {% endif %}

            {% if current_tab == 'faq' %}
            <li><a href="{% url 'faq' %}" class="text-yellow-400">FAQ</a></li>
            {% else %}
            <li><a href="{% url 'faq' %}" class="hover:text-yellow-400">FAQ</a></li>
            {% endif %}

            {% if current_tab == 'about' %}
            <li><a href="{% url 'about' %}" class="text-yellow-400">About Us</a></li>
            {% else %}
            <li><a href="{% url 'about' %}" class="hover:text-yellow-400">About Us</a></li>
            {% endif %}

            {% if current_tab == 'contact' %}
            <li><a href="{% url 'contact' %}" class="text-yellow-400">Contact</a></li>
            {% else %}
            <li><a href="{% url 'contact' %}" class="hover:text-yellow-400">Contact</a></li>
            {% endif %}

        </ul>
    </div>
    
    <!-- Main Content -->
    {% block main_block %}
    {% endblock %}
    
    <!-- Footer Section -->
    <footer class="bg-yellow-800 text-white py-8">
      <div class="container mx-auto px-4">
          <div class="flex flex-wrap justify-between items-center border-t border-yellow-600 pt-4">
                <!-- Footer Links Section -->
                <div class="flex flex-wrap justify-center md:justify-start gap-6 mb-4 md:mb-0">
                    {% if current_tab == 'about' %}
                    <a href="{% url 'about' %}" class="hover:underline text-white hover:text-white transition duration-300">About Us</a>
                    {% else %}
                    <a href="{% url 'about' %}" class="hover:underline text-yellow-300 hover:text-white transition duration-300">About Us</a>
                    {% endif %}
                    
                    {% if current_tab == 'shop' %}
                    <a href="{% url 'shop' %}" class="hover:underline text-white hover:text-white transition duration-300">Shop</a>
                    {% else %}
                    <a href="{% url 'shop' %}" class="hover:underline text-yellow-300 hover:text-white transition duration-300">Shop</a>
                    {% endif %}

                    {% if current_tab == 'contact' %}
                    <a href="{% url 'contact' %}" class="hover:underline text-white hover:text-white transition duration-300">Contact Us</a>
                    {% else %}
                    <a href="{% url 'contact' %}" class="hover:underline text-yellow-300 hover:text-white transition duration-300">Contact Us</a>
                    {% endif %}

                    {% if current_tab == 'faq' %}
                    <a href="{% url 'faq' %}" class="hover:underline text-white hover:text-white transition duration-300">FAQ</a>
                    {% else %}
                    <a href="{% url 'faq' %}" class="hover:underline text-yellow-300 hover:text-white transition duration-300">FAQ</a>
                    {% endif %}

                    <a href="/privacy-policy" class="hover:underline text-yellow-300 hover:text-white transition duration-300">Privacy Policy</a>
                    <a href="/terms-of-service" class="hover:underline text-yellow-300 hover:text-white transition duration-300">Terms of Service</a>
                </div>
                <!-- Social Media Links -->
                <div class="flex justify-center gap-4 mb-4 md:mb-0">
                    <a href="https://www.facebook.com" target="_blank" class="text-yellow-300 hover:text-white transition duration-300">Facebook</a>
                    <a href="https://www.instagram.com" target="_blank" class="text-yellow-300 hover:text-white transition duration-300">Instagram</a>
                    <a href="https://www.twitter.com" target="_blank" class="text-yellow-300 hover:text-white transition duration-300">Twitter</a>
                </div>
          </div>
          <!-- Copyright Section -->
          <div class="text-center mt-4">
              <p>&copy; 2024 FMK Shop. All rights reserved.</p>
          </div>
      </div>
    </footer>
  
    <script>
                // Sidebar toggle functionality
        const sidebarToggle = document.getElementById('toggle-sidebar');
        const sidebar = document.getElementById('sidebar');

        sidebarToggle.addEventListener('click', () => {
            if (sidebar.classList.contains('-translate-x-full')) {
                sidebar.classList.remove('-translate-x-full');
                document.body.style.overflowY = 'hidden'; // Disable scrolling when sidebar is open
            } else {
                sidebar.classList.add('-translate-x-full');
                document.body.style.overflowY = 'auto'; // Re-enable scrolling when sidebar is closed
            }
        });

        // Carousel functionality (not related to dropdowns but kept intact)
        const slides = document.getElementById('carousel-slides');
        const prev = document.getElementById('prev');
        const next = document.getElementById('next');
        const totalSlides = slides.children.length;

        let currentIndex = 0;

        function showSlide(index) {
            slides.style.transform = `translateX(-${index * 100}%)`;
        }

        prev.addEventListener('click', () => {
            currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
            showSlide(currentIndex);
        });

        next.addEventListener('click', () => {
            currentIndex = (currentIndex + 1) % totalSlides;
            showSlide(currentIndex);
        });

        // Auto-slide (optional)
        setInterval(() => {
            currentIndex = (currentIndex + 1) % totalSlides;
            showSlide(currentIndex);
        }, 5000);

        // Dropdown toggle functionality
        function toggleDropdown2(id) {
            // Close all dropdowns and reset their icons
            document.querySelectorAll('[id^="dropdown-"]').forEach(dropdown => {
                const icon = document.querySelector(`#icon-${dropdown.id.split('-')[1]}`);
                dropdown.classList.add('hidden');
                if (icon) icon.style.transform = 'rotate(0deg)';
            });

            // Toggle the clicked dropdown
            const dropdown = document.getElementById(id);
            const icon = document.querySelector(`#icon-${id.split('-')[1]}`);

            if (dropdown.classList.contains('hidden')) {
                dropdown.classList.remove('hidden');
                if (icon) icon.style.transform = 'rotate(180deg)';
            } else {
                dropdown.classList.add('hidden');
                if (icon) icon.style.transform = 'rotate(0deg)';
            }
        }

        function toggleDropdown(event) {
            event.preventDefault();

            const dropdown = document.getElementById('dropdownMenu');
            const button = document.getElementById('accountButton');
            const icon = button.querySelector('.dropdown-icon');

            dropdown.classList.toggle('hidden');
            if (!dropdown.classList.contains('hidden')) {
                icon.style.transform = 'rotate(180deg)'; // Rotate the icon when dropdown is shown
            } else {
                icon.style.transform = 'rotate(0deg)'; // Reset rotation when dropdown is hidden
            }
        }

        // Close the dropdown if clicked outside
        document.addEventListener('click', (event) => {
            const dropdown = document.getElementById('dropdownMenu');
            const button = document.getElementById('accountButton');
            const icon = button.querySelector('.dropdown-icon');

            if (dropdown && !dropdown.contains(event.target) && !button.contains(event.target)) {
                dropdown.classList.add('hidden');
                icon.style.transform = 'rotate(0deg)'; // Reset rotation when clicked outside
            }
        });

            
    </script>
</body>
</html>
