{% extends 'users/home.html' %}
{% load static %}
{% load custom_filters %}
{% block header %}
Fmk Link - Home
{% endblock %}
{% block main_block %}
<div>
    <!-- Carousel Container -->
    <div id="carousel" class="relative overflow-hidden w-full h-64 mx-auto">
        <!-- Slides -->
        <div id="carousel-slides" class="flex">
            <!-- Slide 1 -->
            <div class="carousel-item flex-shrink-0 w-full h-64 bg-cover bg-center relative" style="background-image: url('{% static "pictures/DALL·E 2024-12-09 11.38.45 - A vibrant and cheerful collage of various small product images displayed on a gradient background transitioning through warm shades of yellow (yellow-.webp" %}');">
                <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-lg flex items-center justify-center">
                    <h1 class="text-center px-4 text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-yellow-500 via-yellow-600 to-yellow-700 p-2 inline-block text-with-border">Welcome to <span class="text-white">Fmk Link</span></h1>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item flex-shrink-0 w-full h-64 bg-cover bg-center relative" style="background-image: url('{% static "pictures/DALL·E 2024-12-09 11.52.13 - A visually cohesive and vibrant cover design with a yellow gradient background transitioning from light yellow (#FFD700) to deeper yellow shades (#FFC.webp" %}');">
                <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-lg flex items-center justify-center">
                    <h1 class="text-center px-4 text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-yellow-500 via-yellow-600 to-yellow-700 p-2 inline-block text-with-border">Connecting Customers & <span class="text-white">Businesses</span></h1>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item flex-shrink-0 w-full h-64 bg-cover bg-center relative" style="background-image: url('{% static "pictures/DALL·E 2024-12-09 11.39.02 - A visually appealing collage of various products on a gradient background transitioning through shades of yellow (yellow-500, yellow-600, yellow-700).webp" %}');">
                <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-lg flex items-center justify-center">
                    <h1 class="text-center px-4 text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-yellow-500 via-yellow-600 to-yellow-700 p-2 inline-block text-with-border">Empowering Seamless <span class="text-white">Transactions</span></h1>
                </div>
            </div>
        </div>
    
        <!-- Navigation Buttons -->
        <button id="prev" class="absolute left-4 top-1/2 transform -translate-y-1/2 bg-yellow-800 bg-opacity-50 text-white rounded-full w-10 h-10 flex items-center justify-center">‹</button>
        <button id="next" class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-yellow-800 bg-opacity-50 text-white rounded-full w-10 h-10 flex items-center justify-center">›</button>
    </div>
    
    <!-- Add this CSS to your stylesheet -->
    <style>
        .text-with-border {
            -webkit-text-stroke: 0.03rem white; /* Adds a white stroke around the text */
            text-stroke: 0.03rem white; /* For other browsers */
            text-shadow: 0 0 3px white, 0 0 5px white, 0 0 7px #F59E0B; /* Reduced glow intensity */
        }
    </style>    
     

    <div class="flex-1 py-4 px-6 md:py-8 bg-yellow-100">
        
        <!-- Header Section -->
        <header class="mb-8 pb-4 border-b-2 border-yellow-500">
            <h1 class="text-3xl font-bold text-center">Discover a World of <span class="text-yellow-700">Connections!</span></h1>
            <p class="text-center text-lg">Explore unique products and services, and connect with businesses that meet your needs.</p>
        </header>
    
        <!-- Categories Section -->
        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Shop by Category</h2>
            
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
                
                {% for category in categories %}
                    <div class="block bg-white p-4 border rounded shadow hover:bg-yellow-50">
                        <h3 class="text-center font-semibold mt-2">{{ category.name }}</h3>
                        {% if category.subcategories.exists %}
                            <div class="mt-2">
                                {% for subcategory in category.subcategories.all %}
                                    <a href="{% url 'products_by_subcategory' subcategory.name %}" class="block bg-gray-100 p-2 mb-2 rounded hover:bg-yellow-100">
                                        <h4 class="text-center">{{ subcategory.name }}</h4>
                                        <div class="grid grid-cols-2 gap-2 mt-2">
                                            {% for product in subcategory.products.all|slice:":2" %}
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-full object-cover rounded">
                                            {% endfor %}
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p class="text-center text-gray-500 mt-2">No subcategories available.</p>
                        {% endif %}
                    </div>
                {% endfor %}


            </div>
        </section>
        
        <!-- Featured Products Section -->
        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Featured Products</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                <div class="bg-white p-4 border rounded shadow">
                    <img src="images (1).jpeg" alt="Product 1" class="w-full h-48 object-cover mb-4">
                    <h3 class="text-lg font-semibold">Product 1</h3>
                    <p class="text-gray-600">Tsh 25.99</p>
                    <button class="mt-2 bg-yellow-700 text-white px-4 py-2 rounded hover:bg-yellow-600">Buy Now</button>
                </div>
                <div class="bg-white p-4 border rounded shadow">
                    <img src="images (1).jpeg" alt="Product 2" class="w-full h-48 object-cover mb-4">
                    <h3 class="text-lg font-semibold">Product 2</h3>
                    <p class="text-gray-600">Tsh 45.99</p>
                    <button class="mt-2 bg-yellow-700 text-white px-4 py-2 rounded hover:bg-yellow-600">Buy Now</button>
                </div>
                <div class="bg-white p-4 border rounded shadow">
                    <img src="images (1).jpeg" alt="Product 3" class="w-full h-48 object-cover mb-4">
                    <h3 class="text-lg font-semibold">Product 3</h3>
                    <p class="text-gray-600">Tsh 15.99</p>
                    <button class="mt-2 bg-yellow-700 text-white px-4 py-2 rounded hover:bg-yellow-600">Buy Now</button>
                </div>
            </div>
        </section>
    
        <!-- Special Offers Section -->
        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Explore and Engage</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="bg-yellow-700 text-white p-6 border rounded shadow">
                    <h3 class="text-xl font-semibold mb-2">Join Our Community!</h3>
                    <p>Connect with businesses and customers to share ideas, get recommendations, and discover new opportunities.</p>
                </div>
                <div class="bg-yellow-700 text-white p-6 border rounded shadow">
                    <h3 class="text-xl font-semibold mb-2">Discover Trending Products!</h3>
                    <p>Stay updated on the latest and most popular products, curated just for you.</p>
                </div>
            </div>
        </section>
    
    </div>
</div>
{% endblock %}