{% extends 'users/home.html' %}
{% load static %}

{% block header %}
    Fmk Shop - FAQ
{% endblock %}

{% block main_block %}
    <div class="min-h-screen bg-gradient-to-l from-yellow-50 to-yellow-200 flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <div class="text-center text-green-500">
                <h2 class="text-2xl font-extrabold mb-4">Password Change Successful</h2>
                <p class="text-lg">Your password has been successfully changed.</p>
            </div>
        </div>
    </div>
{% endblock %}
