{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Token</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}">
</head>
<body class="bg-gradient-to-l from-yellow-50 to-yellow-200 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg m-3 shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-extrabold mb-6 text-center text-yellow-500">Verify Your Email</h2>

        <form method="POST" action="{% url 'verify_token' %}" class="space-y-6">
            {% csrf_token %}
            
            <div class="grid grid-cols-6 gap-2">
                <label for="token" class="col-span-6 text-sm font-medium text-gray-700">Enter the 6-digit token sent to your email:</label>
                <div class="col-span-1">
                    <input type="text" name="token_1" maxlength="1" required class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-yellow-500">
                </div>
                <div class="col-span-1">
                    <input type="text" name="token_2" maxlength="1" required class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-yellow-500">
                </div>
                <div class="col-span-1">
                    <input type="text" name="token_3" maxlength="1" required class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-yellow-500">
                </div>
                <div class="col-span-1">
                    <input type="text" name="token_4" maxlength="1" required class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-yellow-500">
                </div>
                <div class="col-span-1">
                    <input type="text" name="token_5" maxlength="1" required class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-yellow-500">
                </div>
                <div class="col-span-1">
                    <input type="text" name="token_6" maxlength="1" required class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-yellow-500">
                </div>
            </div>
            
            <button type="submit" class="w-full bg-yellow-600 text-white py-2 rounded hover:bg-yellow-500 transition duration-200">Verify</button>
        </form>

        <div class="mt-4 text-center">
            <a href="{% url 'register' %}" class="text-yellow-700 hover:underline">Back to Registration</a>
        </div>

        <!-- Resend Token Section -->
        <div class="mt-4 text-center">
            <form method="POST" action="{% url 'resend_token' %}">
                {% csrf_token %}
                <button type="submit" class="text-yellow-600 hover:underline">Didn't get the token? Resend it.</button>
            </form>
        </div>
    </div>
</body>
</html>
